* {
  margin 0;
  padding 0;
  box-sizing: border-box; 
}
:root {
  --primary-color: #421E22;
  --secondary-color: #32a3a3;
  --tertiary-color: rgb(131, 218, 73);
  background-image: linear-gradient(180deg, #ff3434 0%, #6ee29e 100%);
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
header {
  background-color: var(--tertiary-color);
  background-image: linear-gradient(180deg, #ff3434 0%, #6ee29e 100%);
  border-radius: 5px;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
header a {
  text-decoration: none;
  color: var(--primary-color);
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
}

header nav {
  margin: -33px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 15px;
  text-shadow: none;
}
footer {
  float: right;
}
footer img {
  margin: 3.5px;
  border-radius: 10px;
}
.content {
  margin: 1%;
  color: #421E22;
}
.content h2{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content h3 {
  font-style:oblique;
}
.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items:center;
  background-attachment: fixed;
  background-position: 80%;
}
.hero-bio {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  color: var(--primary-color);
}
.hero-bio h3 {
  font-style: bold;
  font-size: 30px;
  color: var(--primary-color);
}
.hero-bio h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hero-portrait {
  width: 20%;
  padding-right: 530px;
}
.section-title {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  border-bottom: 3px solid;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 60%;
}
.flex-row {
  display: flex;
}
.projects {
  padding-bottom: 50px;
  padding-right: 5%;
  padding-left: 5%;
}
.works {
  margin: 0 auto;
  padding: 40px 0;
  display:flex;
  justify-content: space-between;
}
.work {
  position: relative;
  width: 400px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: var(--tertiary-color);
  background-image: linear-gradient(180deg, #6ee29e 0% , #ff3434 100%);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  flex: 1;
}
.work:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.work img {
  border-radius: 5px 5px 0 0;
}
.work-info {
  padding: 2%;
}
.work-info h2 {
  margin-top: -8px;
  margin-bottom: -6px;
  font-style: italic;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.work-info p {
  color: var(--primary-color);
}
.contact {
  padding-bottom: 100px;
  align-content: center;
}
.contact-msg {
  font-style: bold;
  font-size: 28px;
  color: var(--primary-color);
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display:flex;
  justify-content:center;
  margin: 5%;
  flex: 1;
}
.form1 {
  width:700px;
}
.contact-form {
  border-radius: 15px;
  color: var(--primary-color-color);
  border-style: solid;
  border-width: 3px;
  border-color: var(--primary-color);
  width: auto;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.637);
}
.contact-form button {
  width: 100%;
  border: none;
  background: rgb(255, 67, 67);
  background-image: linear-gradient(180deg, #6ee29e 0% , #ff3434 100%);
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}
.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}
.contact-img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.637);
  position:relative;
  margin-left: 30px;
}
.contact-form a {
  width: 100%;
  border: none;
  background: rgb(255, 67, 67);
  background-image: linear-gradient(180deg, #6ee29e 0% , #ff3434 100%);
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  .hero-bio, .hero-portrait {
    width: 100%;
  }
  
  .hero-bio {
    text-align: right;
  }
  .section-title {
    width: 80%;
  }
  
  .works {
    flex: 0 70%;
    flex-direction: column;
  }
  
  .some-class {
    text-shadow: 5px 10px 15px black;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 768px) {

    section {
      padding: 30px 15px;
    }
    .hero {
      flex-direction: column;
    }
    .contact-msg {
      flex-direction: column;
      font-size: 85%;
      flex: 0 70%;
    }
  
  }
  @media screen and (max-width: 575px) {

    .section-title {
      width: 95%;
    }
  
    .works {
      flex: 0 100%;
      flex-direction: column;
    }
  
    .contact-info {
      text-align: center;
    }
    .contact-info > * {
      flex: 0 100%;
    }
    .contact-form {
      order: 3;
    }
    .hero {
      flex-direction: column;
    }
    .contact-msg {
      flex-direction: column;
      font-size: 85%;
      flex: 0 70%;
    }
  }